:root {
  --color-fondo: #eeeeee;
  --color-rojo1: #A66A75;
  --color-rojo2: #D99CA7;
  --color-sombra: #bf7839;

  --bg-gradient: linear-gradient(
    75deg,
    #bf7839,
    /* Dorado oscuro */ #bf8c4e,
    /* Bronce */ #d9af62,
    /* Oro medio */ #f2dc99,
    /* Oro claro */ #f2d680,
    /* Brillo dorado */ #f2dc99,
    /* Oro claro */ #d9af62,
    /* Oro medio */ #bf8c4e,
    /* Bronce */ #bf7839 /* Dorado oscuro */
  );
}
